<p id="notice"><%= notice %></p>

<div class="row">
  <div class="small-10 small-centered column">
    <h2 class="text-center">Ready to Give Us a Try?</h2>
  </div>
  <br />
</div>
<div class="row">
  <div class="small-12 medium-6 columns">
    <h3 class="text-center">Our Free Trial Is Really Free.</h3>
    <p class="text-justify">We offer a <strong>Free Trial</strong> for any new member. The trail is good for any class, as many as you want to try. So stop by and try out a <%= link_to 'spin, TRX or barre class', group_classes_path %> or <%= link_to 'CrossFit your heart out', crossfit_schedule_path %>. All at the price of free for you. No credit card required, no commitment required. Just show up and start your journey to fitness.</p>
  </div>
  <div class="small-12 medium-6 columns">
    <%= render 'form' %>
  </div>
</div>