<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-workouts"><%= link_to "Workouts", casein_workouts_path %></li>
<li id="tab-staffs"><%= link_to "Staff", casein_staffs_path %></li>