<% content_for :title, "CrossFit Schedule | CrossFit Interchange" %>
<% content_for :description , "Crossfit Interchange offers CrossFit classes throughout the day." %>
<div class="row">
	<div class="small-10 small-centered columns">
		<h1 class="text-left">
			CrossFit Schedule
		</h1>
	</div>
  <div class="show-for-medium-up large-9 large-centered columns">
    <table summary="CrossFit class schedule. Classes are each morning Monday through Friday starting at 5am, 6am, 9am, 5:30pm, 6pm and Saturday at 9am. Open Gym is at noon Monday, Wednesday, fridays and 8am on Saturday.">
      <thead>
        <tr>
          <th width="75" class="text-center">Time</th>
          <th width="100" class="text-center">Monday</th>
          <th width="100" class="text-center">Tuesday</th>
          <th width="100" class="text-center">Wednesday</th>
          <th width="100" class="text-center">Thursday</th>
          <th width="100" class="text-center">Friday</th>
          <th width="100" class="text-center">Saturday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">5:00am</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td></td>
        </tr>
        <tr>
          <td class="text-center">6:00am</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td></td>
        </tr>
        <tr>
          <td class="text-center">9:00am</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td class="text_center">CrossFit</td>
        </tr>
        <tr>
          <td class="text-center">Noon</td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
        </tr>
        <tr>
          <td class="text-center">5:30pm</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td></td>
        </tr>
        <tr>
          <td class="text-center">6:30pm</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center">CrossFit</td>
          <td class="text-center"></td>
          <td></td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="hide-for-medium-up">
    <table summary="CrossFit class schedule. Classes are each morning Monday through Friday starting at 5am, 6am, 9am, 5:30pm, 6pm and Saturday at 9am. Open Gym is at noon Monday, Wednesday, fridays and 8am on Saturday.">
      <thead>
        <tr>
          <th width="75" class="text-center">Time</th>
          <th width="100" class="text-center">Mon</th>
          <th width="100" class="text-center">Tue</th>
          <th width="100" class="text-center">Wed</th>
          <th width="100" class="text-center">Thur</th>
          <th width="100" class="text-center">Fri</th>
          <th width="100" class="text-center">Sat</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">5a</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td></td>
        </tr>
        <tr>
          <td class="text-center">6a</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td></td>
        </tr>
        <tr>
          <td class="text-center">9a</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td class="text_center">CF</td>
        </tr>
        <tr>
          <td class="text-center">Noon</td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
        </tr>
        <tr>
          <td class="text-center">530p</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td></td>
        </tr>
        <tr>
          <td class="text-center">630p</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td class="text-center">CF</td>
          <td class="text-center"></td>
          <td></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>