<% content_for :title, "CrossFit Schedule | CrossFit Interchange" %>
<% content_for :description , "Crossfit Interchange offers CrossFit classes throughout the day. Green Valley, Fairfield, Cordelia and Solano CA." %>
<div class="row">
	<div class="small-10 small-centered columns">
		<h1 class="text-left">
			CrossFit Schedule
		</h1>
	</div>
  <div class="show-for-medium large-9 large-centered columns">
    <%= @cf_schedules.desktop.html_safe %>
  </div>
  <div class="hide-for-medium">
    <%= @cf_schedules.mobile.html_safe %>
  </div>
</div>