<% content_for :title, "What Is CrossFit | CrossFit Interchange" %>
<% content_for :description , "Crossfit Interchange has a very non-intimidating, yet challenging atmosphere with great coaches to help you through your weaknesses." %>
<% content_for :css, "cross_fit_classes.css" %>
<section class="hero_wicf">
  <div class="row intro">
    <div class="small-centered medium-uncentered medium-6 large-7 columns">
      <h1>CrossFit is a workout that</h1>
      <p>pushes your body further than most believe we are capable of. All with a supporitive, loving community.</p>
    </div>
    <div class="small-centered medium-uncentered medium-6 large-5 columns">
      <div class="tech-img"></div>
    </div>
  </div>
</section>
<br>
<div class="row">
	<div class="small-10 small-centered cloumns">
		<h1 class="text-centered">
			Ron's Story
		</h1>
	</div>
	<div class="small-12 small-centered columns">
		<p class="text-justify">
			<div class="testimonial-wrap">
				<div class="row">
					<div class="small-1 large-1 columns testimonial">
						<div class="quote-marks">&#8220;</div>
					</div>
					<div class="small-11 large-11 columns testimonial">
						<div class="quote">
							<p>Crossfit Interchange has a very non-intimidating, yet challenging atmosphere with great coaches to help you through your weaknesses. Its hard to stay motivated and get to the gym everyday when you're working out by yourself. But with a coached environment, and others working out along side you, it gives you the accountability to get up and in to this gym on a daily basis. Crossfit Interchange has changed the way I look at fitness.</p>
						</div>
						<div class="member">
							<div class="photo"><%= image_tag("classes/ron.jpg", :class => 'photo') %> </div>
							<p>Ron Kleiner</p>
							<p></p>
						</div>
					</div>
		      <div class="testimonial-wrap">
	</div>

		</p>
	</div>
</div>
<a name="always_different"></a>
<div class="row">
	<div class="small-10 small-centered cloumns">
		<h1 class="text-centered">
			Push Yourself
		</h1>
	</div>
	<div class="small-12 small-centered columns">
		<p class="text-justify">
			CrossFit is founded on the idea that we should be <i>fit</i> in every way possible. Most gyms and exercise regimes focus on one aspect: cardio, muscle gain, flexibility or weight loss. CrossFit focuses on every area by combining weightlifting, gymnastics and varying intensities to create highly effective workouts for people of all fitness levels. Every workout is different from the last. Some focus on endurance, some focus on Olympic weightlifting, some on mobility. Each day is different and is focused on making you, a better you.
		</p>
	</div>
</div>
<div class="row">
	<div class="small-10 small-centered cloumns">
		<h1 class="text-centered">
			Functional Movements
		</h1>
	</div>
	<div class="small-12 small-centered columns">
		<p class="text-justify">
			On a day to day basis, most of us aren't placed in a situation where were glad we did our hip abductor/adductor excercises. A lot of the routines based on machines utilize unrealistic motions for our everyday life. In fact, most of those machines are actually detremental to strength building. That's why CrossFit focuses on strength building the way our paleo ancestors did. While we don't sling rocks around, we do practice Olympic Style weight lifting. This doesn't mean that you'll be throwing 500 pounds over your head on the first day, but it means that when spring cleaning comes around, you will be able to lift that heavy box off the top shelf or load your truck with bags of cement.
		</p>
	</div>
</div>
</p>
  <p class="text-center "> Come in before any of our classes to try them out and get started with out ten-day free trial today.</p>
</div>
</div>
<div class="row">
  <div class="small-12 medium-6 small-centered columns">
    <p class="text-center">
      <div class="button-bar">
        <ul class="button-group radius">
          <li><%= link_to 'Class Schedule', crossfit_schedule_path, :class => "small button secondary" %></li>
          <li><%= link_to 'Free Trial', free_trial_path, :class => "small button success" %></li>
          <li><%= link_to 'Contact', contact_path, :class => "small button secondary" %></li>
        </ul>
      </div>
    </p>
  </div>
</div>
