<section class="hero">
  <div class="row intro">
    <div class="small-centered medium-uncentered medium-6 large-7 columns">
      <h1>CrossFit is a workout that</h1>
      <p><a href="#always_different">is always different, </a><a href="#">uses functional movements, </a><a href="#">&amp; is a community of people pursuing elite fitness.</a></p>
    </div>
    <div class="small-centered medium-uncentered medium-6 large-5 columns">
      <div class="tech-img"></div>
    </div>
  </div>
</section>
<a name="always_different"></a>
<div class="row">
	<div class="small-8 small-push-4 columns">

		<p>
			CrossFit is founded on the idea that we should be <i>fit</i> in every way possible. Most gyms and exercise regimes focus on one aspect: cardio, muscle gain, flexibility or weight loss. CrossFit focuses on every area by combining weightlifting, gymnastics and varying intensities to create highly effective workouts for people of all fitness levels. Every workout is different from the last. Some focus on endurance, some focus on Olympic weightlifting, some on mobility. Each day is different and is focused on making you, a better you.
		</p>
	</div>
	<div class="small-4 small-pull-8 columns">
		<h1 class="text-left">
			Always Different
		</h1>
	</div>
</div>

<div class="row">
	<div class="small-8 small-push-4 columns">
		<p>
			On a day to day basis, most of us aren't placed in a situation where were glad we did our hip abductor/adductor excercises. A lot of the routines based on machines utilize unrealistic motions for our everyday life. In fact, most of those machines are actually detremental to strength building. That's why CrossFit focuses on strength building the way our paleo ancestors did. While we don't sling rocks around, we do practice Olympic Style weight lifting. This doesn't mean that you'll be throwing 500 pounds over your head on the first day, but it means that when spring cleaning comes around, you will be able to lift that heavy box off the top shelf or load your truck with bags of cement.
		</p>
	</div>
	<div class="small-4 small-pull-8 columns">
		<h1 class="text-left">
			Functional Movements
		</h1>
	</div>
</div>