<% content_for :title, "Child Care | CrossFit Interchange" %>
<section class="hero_childcare">
</section>

<div class="row">
  <div class="small-10 small-centered columns">
    <h1 class="text-left">
      Child Care
    </h1>
  </div>
  <div class="small-12 small-centered columns">
    <h3 class="text-justify">
      Your kids are taken care of while you workout!
    </h3>
    <p class="text-justify">
      We offer childcare for children 0-5yrs old. We provide a safe and fun environment with well trained childcare professionals.  $5 per child per class. You can purchase a punch pass for $50 for 10 classes. Childcare currently runs during our 9-11am classes. Evening childcare coming soon!
    </p>
    <p class="subheader">
      Childcare is confirmed 7 days in advance through our MindBody app. We don't take any dropins at this time.
    </p>
  </div>
</div>


<div class="row"> 
  <div class="medium-4 medium-centered columns">
   <ul class="pricing-table">
       <li class="title">Childcare</li>
       <li class="price">$50
       <br><span>for 10 classes</span>
       <hr>
       </li>
       <li class="bullet-item">$5<span> per child per class</span></li>
    </ul>
  </div>
</div>