<!-- Hero -->
<section class="hero_childcare">
  <!-- <div class="row price_hero_text">
    <div class="small-6 large-centered columns"><h1 class="text-center">CrossFit Pricing</h1></div>
  </div> -->
</section>

 <div class="row"> 
    <div class="medium-4 medium-centered columns">
     <ul class="pricing-table">
         <li class="title">Childcare</li>
         <li class="price">$50
         <br><span>for 10 classes</span>
         <hr>
         </li>
         <li class="bullet-item">$5<span> per child per class</span></li>
         <li class="bullet-item">$120 savings!</li>
      </ul>
   </div>