<% content_for :title, "Contact Us | CrossFit Interchange" %>
<% content_for :description , "Have any questions? CrossFit Interchange is avaliable by phone, email or Facebook." %>
<% content_for :css, "contact.css" %>
 <!-- this adds Foundation Icon Fonts!! -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    
    <div class="row">
      <div class="medium-4 columns">
        <div class="box">
          <div class="box-icon">
            <span class="fi-telephone"></span>
          </div>
          <div class="info">
            <h4 class="text-center">Call Us</h4>
            <p class="show-for-medium-up text-justify">Have questions about the classes we offer, pricing, the schedule or the gym in general? We'd love to chat with you in person or on the phone. Our office hours are Monday - Friday 9 am to 5 pm. Give us a call at 707-266-9066.</p><p class="show-for-small-only text-justify">Have questions about the classes we offer, pricing, the schedule or the gym in general? We'd love to chat with you in person or on the phone. Our office hours are Monday - Friday 9 am to 5 pm. Give us a call at <a href="tel:7072669066">707-266-9066</a>.</p>
          </div>
        </div>
      </div>
      <div class="medium-4 columns">
        <div class="box">
          <div class="box-icon">
              <span class="fi-marker"></span>
          </div>
          <div class="info">
            <h4 class="text-center">Drop By</h4>
            <p class='text-justify'>Stop by and meet one of the coaches, try a class or sign up for a <a href='/free_trials'> ten-day free trial</a>! Check out our <a href='/crossfit_schedule'>class schedule</a> to find out when a coach will be in the building. <p class='text-center'>Our address is <a href='https://goo.gl/maps/iLduJMrYqvD2'> 324 Campus Lane Suite E, Fairfield, CA 94534</a>. Look for the large 'CrossFit Interchange' flag.</p>
            <a href="https://goo.gl/maps/iLduJMrYqvD2" class="button secondary" target="_blank">Launch Google Maps</a>
          </div>
        </div>
      </div>
      <div class="medium-4 columns">
        <div class="box">
          <div class="box-icon">
              <span class="fi-mail"></span>
          </div>
          <div class="info">
            <h4 class="text-center">Email Us</h4>
            <p class="text-justify">Want to join? Have a question? Looking for our location? Email us your questions to us at <a href="mailto:info@crossfitinterchange.com">info@crossfitinterchange.com</a> and we'll respond as quick as we can. For lightning fast response, send us a message on <a href="https://www.facebook.com/CFInterchange" target="_blank">facebook</a>.</p>
            <a href="mailto:info@crossfitinterchange.com" class="button secondary">Launch Email</a>
          </div>
        </div>
      </div>
    </div>
    <br><br>




