<% content_for :title, "90 Day Fitness Challenge | CrossFit Interchange" %>
<% content_for :description , "A fitter you in 90 days! 3 Month fitness and weight loss challenge." %>
<% content_for :css, "fitness.css" %>
<div class="fitness">
	<div class="row">
		<div class="small-12 medium-12 text-center columns">
			<h1 class="header">
				A FITTER YOU IN 90 DAYS!
			</h1>
		</div>
		<div class="small-12 medium-10 text-left columns">
			<h3 class="subhead">
				3 MONTH FITNESS AND WEIGHT LOSS CHALLENGE
			</h3>
			<h3 class="subhead"> 
				AT CROSSFIT INTERCHANGE
			</h3>
			<h3 class="subhead">
				<a href="http://bit.ly/1mbQSaV">REGISTER TODAY!</a>
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-8 medium-centered columns boxed">
			<h3 class="subhead-light">3 Months CrossFit/Classes at CrossFit Interchange</h3>
			<h3 class="subhead-light">Body Composition Scan at Elan Medical Center</h3>
			<h3 class="subhead-light">One on One Goal Setting</h3>
			<h3 class="subhead-light">Block/Zone Meal Planning</h3>
			<h3 class="subhead-light">Weekly Weigh-ins</h3>
			<h3 class="subhead-light">Prizes for the biggest BMI Change</h3>
		</div>
	</div>
  <div class="row">
    <div class="small-12 medium-8 medium-centered columns">
      <h2></h2>
      <h2 class="subhead-light">$99 INTERCHANGE MEMBER</h2>
      <h2 class="subhead-light">$299 NON-MEMBERS</h2>
      <h2 class="subhead-light">STARTS JANUARY 18TH</h2>
    </div>
  </div>
</div>
