<% content_for :title, "10 Day Free Trial | CrossFit Interchange" %>
<% content_for :description , "We offer a free Ten Day Trial, good for any and al classes, to anyone thinking of joining or wanting to checkout CrossFit." %>
<br>
<div class="row">
	<div class="small-10 small-centered columns">
		<h1 class="text-center">
			Get started with a 10 day free trial.
		</h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<p class="text-justify">
			President Ronald Reagan said that we "vote with our feet", meaning that our words are only strong if our actions follow those words. We believe the same to be true. <%= link_to 'Come in', 'https://www.google.com/maps/place/324+Campus+Ln,+Fairfield,+CA+94534/@38.2311641,-122.125176,17z/data=!3m1!4b1!4m2!3m1!1s0x808513cdb30cc299:0x9be60b71d653c80a', :target => "blank" %> to start your free ten-day trial and see if CrossFit Interchange is the right fit for you.
		</p>
    <p class="text-justify">
      Your ten-day free trial is good for any and all classes, as much as you want. You can try out the <%= link_to 'group classes', group_classes_path %> or <%= link_to 'CrossFit', crossfit_path %> classes. All at the price of free. Now all you have to do is make the decision and drive to a class.
    </p>
	</div>
</div>