<% content_for :title, "CrossFit Interchange | Love Getting Fit" %>
<% content_for :description , "CrossFit Interchange is premiere location for CrossFit and Gropu classes in Green Valley and Fairfield, CA. Love Getting Fit." %>
<section class="hero_index">
  <!-- <div class="row price_hero_text">
    <div class="small-6 large-centered columns"><h1 class="text-center">CrossFit Pricing</h1></div>
  </div> -->
    <div class="row intro">
    <div class="small-centered medium-centered large-centered medium-7 large-7 columns">
      <div class="logo-index"></div>
    </div>
  </div>
</section>

<div class="row">
  <div class="small-10 medium-7 small-centered columns">
    <form>
      <p class="text-center"><span>I want to know more about</span> 
        <select class="verb-dropdown" id="user-redirect" name="URL"
  onchange="window.location.href= this.form.URL.options[this.form.URL.selectedIndex].value">
          <option selected></option>
          <option value="/crossfit" data-edit-url="<%= crossfit_path %>">CrossFit </option>
          <option value="/group_classes">Group Classes</option>
<!--           <option value="/child_care">Child Care</option> -->
        </select>
      </p>
    </form>
  </div>
</div>


<div class="row">
  <div class="small-10 small-centered columns">
    <h1 class="text-center">
      <%= link_to 'Workout of the Day', :class => 'disabled' %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="small-10 small-centered columns">
    <h2 class="text-center">
      <%= @wod_landing.date.strftime('%A, %b %d WOD') %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="small-10 medium-6 small-centered columns">
    <p class="text-center">  
      <%= @wod_landing.strength.html_safe %>
    </p>
  </div>
</div>
<br/>

