<section class="hero_index">
  <!-- <div class="row price_hero_text">
    <div class="small-6 large-centered columns"><h1 class="text-center">CrossFit Pricing</h1></div>
  </div> -->
    <div class="row intro">
    <div class="small-centered medium-centered large-centered medium-7 large-7 columns">
      <div class="logo-index"></div>
    </div>
  </div>
</section>


<div class="small-6 small-centered medium-centered large-centered columns">
  <form>
    <p><span>I want to know more about</span> 
    <select class="verb-dropdown">
      <option value="CrossFit" disabled selected>CrossFit </option>
      <option value="">CrossFit Schedule</option>
      <option value="design">CrossFit Pricing</option>
      <option value="design"><hr></option>
      <option value="design">Group Classes</option>
      <option value="">Group Classes Schedule</option>
      <option value="group_classes_pricing_path">Group Classes Pricing</option>
      <option value="child_care_path">Child Care</option>
    </select>.</p>
    <%= button_to 'Go!', free_trial_path, class: 'button center' %>
  </form>

</div>

<h1><center>
  <%= link_to 'Workout of the Day', wod_path %>
</center></h1>


<%= @response %>

