<% content_for :title, "CrossFit Interchange | Love Getting Fit" %>
<% content_for :description , "CrossFit Interchange is premiere location for CrossFit and Gropu classes in Green Valley and Fairfield, CA. Love Getting Fit." %>
<section class="hero_index">
  <!-- <div class="row price_hero_text">
    <div class="small-6 large-centered columns"><h1 class="text-center">CrossFit Pricing</h1></div>
  </div> -->
    <div class="row intro">
    <div class="small-centered medium-centered large-centered medium-7 large-7 columns">
      <div class="logo-index"></div>
    </div>
  </div>
</section>
<!-- Flat icons here -->

<!-- Subscribe to email list -->
<div class="row">
  <div class="small-12 columns">
    <div class="meduim-8 small-10 small-centered medium-centerd columns"></div>
    <h1> test </h1>
  </div>
</div>

<!-- Workout -->
<div class="row">
  <div class="small-10 small-centered columns">
    <h1 class="text-center">
      <%= link_to 'Workout of the Day', :class => 'disabled' %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="small-10 small-centered columns">
    <h2 class="text-center">
      <%== @title %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="small-10 medium-6 small-centered columns">
    <p class="text-center">  
      <%== @body %>
    </p>
  </div>
</div>
<br/>

