<div class="row">
	<div class="col-sm-10">
		<h1>
			Uh-oh!
		</h1>		
	</div>
</div>
<div class="row">
	<div class="col-sm-10">
		<p>
			Our bad! Sorry about this! 
			The server encountered an error.
		</p>		
	</div>
</div>
<div class="row">
	<div class="col-sm-10">
		<p>
			Something broke and it's been reported. We have our best trained monkey on the case. 
		</p>		
	</div>
</div>
<div class="row">
	<div class="col-sm-10">
		<p>
			Sometimes this is caused because of seomthing not in our control, try reloading the page and it shoulf fix itself.
		</p>		
	</div>
</div>
