<div class="row">
	<div class="col-sm-10">
		<h1>
			Uh-oh!
		</h1>		
	</div>
</div>
<div class="row">
	<div class="col-sm-10">
		<p>
			Our bad! Sorry about this! 
			The page you're looking for couldn't be found.
		</p>		
	</div>
</div>
<div class="row">
	<div class="col-sm-10">
		<ul>
			<li>Either the page has been moved and we didn't tell you...</li>
			<li>There was a bad bookmark</li>
			<li>Or we built a bad link</li>
		</ul>		
	</div>
</div>
<div class="row">
	<div class="col-sm-10">
		<p>
			Try checking the spelling of the url or reload the page with the navagation bar above.
		</p>		
	</div>
</div>
