<div class="console">
	
</div>
<h1>Introducing Workout Journals!</h1>
<p>This feature is still under development and will be published in the near future. Thank you for choosing CrossFit Interchange!</p>
