<% content_for :title, "Group Classes Schedule | CrossFit Interchange" %>
<% content_for :description , "Group Class schedule at CrossFit Interchange" %>

<div class="row">
	<div class="small-10 small-centered columns">
		<h1 class="text-left">
			Group Class Schedule
		</h1>
	</div>
  <div class="show-for-medium-up large-9 large-centered columns">
    <%= @gc_schedule.desktop.html_safe  %>
  </div>
  <div class="hide-for-medium-up">
    <%= @gc_schedule.mobile.html_safe %>
  </div>
</div>