  .hero_childcare {
    background: url("http://crossfitinterchange.com/images/img_2050.jpg") no-repeat center center;
    background-size: cover;
    height: 80vh;
    margin-bottom: 3rem; }

  .childcare_hero_text {
    padding-top: 12rem;
  }