  .hero_price {
    background: asset_url("classes/cf-pricing-hero.jpg") no-repeat center center;
    background-size: cover;
    height: 80vh;
    margin-bottom: 3rem; }

  .price_hero_text {
    padding-top: 12rem;
    color: #fff;
    font-size: 3rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center;
  }

  .price_secondary{
    padding: 4rem 0 0.9rem 0;
  }
  .hero_price h1 {
    color: #fff;
    font-size: 3rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center;
  }

    .hero_price_gc {
    background: asset_url("classes/gc-pricing-hero.jpg") no-repeat center center;
    background-size: cover;
    height: 80vh;
    margin-bottom: 3rem; }

  .price_hero_gc_text {
    padding-top: 12rem;
    color: #fff;
    font-size: 3rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: right;
  }

  .price_secondary{
    padding: 4rem 0 0.9rem 0;
  }
  .hero_price h1 {
    color: #fff;
    font-size: 3rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: right;
  }
  .group_class {
    background: asset_url("classes/group-class-hero.jpg") no-repeat center center;
    background-size: cover;
    height: 80vh;
    margin-bottom: 3rem; }

  .price_secondary{
    padding: 4rem 0 0.9rem 0;
  }
  .group_class h1 {
    color: #fff;
    font-size: 3rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center;
  }

.price_header {
  padding-bottom: 3rem;
}
.price_modal {
  padding-bottom: 1rem;
}

.price_footer {
  padding: 4rem 0 2rem 0;
}