/*Hero*/
  .hero_price {
    background: asset_url("classes/cf-pricing-hero.jpg") no-repeat center center;
    background-size: cover;
    height: 80vh;
    margin-bottom: 3rem; }

  .price_hero_text {
    padding-top: 12rem;
    color: #fff;
    font-size: 3rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center;
  }

  .price_secondary{
    padding: 4rem 0 0.9rem 0;
  }
  .hero_price h1 {
    color: #fff;
    font-size: 3rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center;
  }

    .hero_price_gc {
    background: asset_url("classes/gc-pricing-hero.jpg") no-repeat center center;
    background-size: cover;
    height: 80vh;
    margin-bottom: 3rem; }

  .price_hero_gc_text {
    padding-top: 12rem;
    color: #fff;
    font-size: 3rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: right;
  }

  .price_secondary{
    padding: 4rem 0 0.9rem 0;
  }
  .hero_price h1 {
    color: #fff;
    font-size: 3rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: right;
  }
  .group_class {
    background: asset_url("classes/group-class-hero.jpg") no-repeat center center;
    background-size: cover;
    height: 80vh;
    margin-bottom: 3rem; }

  .price_secondary{
    padding: 4rem 0 0.9rem 0;
  }
  .group_class h1 {
    color: #fff;
    font-size: 3rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center;
  }

.price_header {
  padding-bottom: 3rem;
}
.price_modal {
  padding-bottom: 1rem;
}

.price_footer {
  padding: 4rem 0 2rem 0;
}

/*Pricing Table*/
  .pricing-table, .recommended {
    margin: 3rem 0;
    position: relative;
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
    border-radius: 3px;
    transition: 1.0s ease-in-out;
    z-index: 13; }
    .pricing-table .title, .recommended .title {
      background: #f2f1ef;
      color: #67762a;
      font-size: 2rem; }
    .pricing-table .price, .recommended .price {
      background: #f2f1ef;
      color: #333; }
      .pricing-table .price hr, .recommended .price hr {
        color: #6a6456;
        width: 70%;
        margin: 0 auto; }
    .pricing-table .bullet-item, .recommended .bullet-item {
      background: #f2f1ef;
      border: none;
      font-size: 2rem; }
      .pricing-table .bullet-item span, .recommended .bullet-item span {
        font-size: 1.3rem; }
    .pricing-table .cta-button, .recommended .cta-button {
      background: #f2f1ef; }
      .pricing-table .cta-button .button, .recommended .cta-button .button {
        background-color: #849247;
        border-radius: 3px;
        border-bottom: 3px solid #67762a; }
        .pricing-table .cta-button .button:hover, .recommended .cta-button .button:hover {
          background-color: #67762a; }
    .pricing-table span, .recommended span {
      color: #b1ab9f; }

  .recommended {
    z-index: 15;
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
    border: 3px solid #67762a;
    transform: scale(1.25); }
    .recommended .best {
      background: #f2f1ef;
      text-align: center; }
      .recommended .best span {
        position: relative;
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        top: -1px;
        background-color: #67762a;
        color: #f2f1ef;
        padding: 0.3rem 1.5rem;
        height: 2rem;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px; }
    .recommended .title {
      padding-top: 2rem; }
    .recommended .cta-button .button {
      background: #67762a;
      border-bottom: 3px solid #849247; }
      .recommended .cta-button .button:hover {
        background-color: #849247; }
    @media only screen and (max-width: 40.063em) {
      .recommended {
        transform: scale(1); } }
